svg{
    /* background-color: #d7dfe9; */
    /* background-color: #181c1b; */
    background-color: #ffffff;
}

.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    /* fill: #dedede; */
    fill: #252323;
}

.source{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    /* fill: #dedede; */
    fill: #252323;
}

.legendScale{
    /* stroke: #dedede; */
    stroke: #252323;
    stroke-width: 0.9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-small;
}

.perc{
    /* fill: #dedede; */
    fill: #252323;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}